@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Rue Satisfaction<br />
    75001 PARIS<br />
    <abbr title="Téléphone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@satisfaction.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@qualite.com</a>
</address>