@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Customer Satisfaction</h1>
    <p class="lead">Bienvenue sur la plate forme de gestion de satisfaction clientèle</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Savoir plus &raquo;</a></p>
</div>

<div class="row" >
    <div class="col-md-4">
        <h2>DashBoard</h2>
        <p>
           Ce module vous permet d'accéder aux résultats d'évaluation des établissements sur la base de plusieurs indicateurs de performance (NPS,CSAT,CES, taux de conformité)
             à des moments donnés ou sur des périodes données..
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Atteindre &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MyReports</h2>
        <p>Ce module vous permet de générer des rapports liés aux scores de satisfaction globale des clients par tranche (9-10, 7-8, 5-6, 3-4, 1-2)
         ainsi que les commentaires associés. Vous pouvez également exporter vos données de satisfaction client.</p>
        <p><a class="btn btn-default" href="http://localhost:63106/Home/Rapport">Atteindre &raquo;</a></p>
        <p><input type="submit" value="Rapport" class="btn btn-default" /></p>
               
    </div>
    <div class="col-md-4">
        <h2>Guest Alerts</h2>
        <p>Ce module vous permet de consulter la liste des alertes déclenchées selon des règles prédéfinies.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Atteindre &raquo;</a></p>
    </div>
</div>